<div class="tm-black-bg">
    <div class="container">
        <div class="row margin-bottom-60">
            <nav class="col-lg-3 col-md-3 tm-footer-nav tm-footer-div">
                <h3 class="tm-footer-div-title">Main Menu</h3>
                <ul>
                    <li><a href="/Home">Trang chủ</a></li>
                    <li><a href="/Product">Menu</a></li>
                    <li><a href="/News">Tin tức</a></li>
                    <li><a href="/Contact">Liên hệ</a></li>
                </ul>
            </nav>
            <div class="col-lg-5 col-md-5 tm-footer-div">
                <h3 class="tm-footer-div-title">About Us</h3>
                <p class="">
                    “Cà phê nhé" - Một lời hẹn rất riêng của người Việt. Một lời ngỏ mộc mạc để mình ngồi lại bên nhau và sẻ chia câu chuyện của riêng mình.
                <p class="margin-top-15">
                    Tại Cafe House, chúng tôi luôn trân trọng những câu chuyện và đề cao giá trị Kết nối con người. Chúng tôi mong muốn Cafe House sẽ trở thành “Nhà Cà Phê", nơi mọi người xích lại gần nhau và tìm thấy niềm vui, sự sẻ chia thân tình bên những tách cà phê đượm hương, chất lượng.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 tm-footer-div">
                <h3 class="tm-footer-div-title">Get Social</h3>
                <p>Liên hệ với chúng tôi qua các phương tiện trực tuyến</p>
                <p>
                    Delivery: 1900 0001 (07:00-21:00)
                </p>
                <p>
                    Support: 031.213.4423 (07:00-21:00)
                </p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row tm-copyright">
            <p class="col-lg-12 small copyright-text text-center">Copyright &copy; 2021 Cafe House</p>
        </div>
    </div>
</div>
