<section class="tm-section row">
    <div class="col-lg-9 col-md-9 col-sm-8">
        <h2 class="tm-section-header gold-text tm-handwriting-font">The Best Coffee for you</h2>
        <h2>Cafe House</h2>
        <p class="tm-welcome-description">
            “Cà phê nhé" - Một lời hẹn rất riêng của người Việt. Một lời ngỏ mộc mạc để mình ngồi lại bên nhau và sẻ chia câu chuyện của riêng mình.
            Tại Cafe House, chúng tôi luôn trân trọng những câu chuyện và đề cao giá trị Kết nối con người. Chúng tôi mong muốn Cafe House sẽ trở thành “Nhà Cà Phê", nơi mọi người xích lại gần nhau và tìm thấy niềm vui, sự sẻ chia thân tình bên những tách cà phê đượm hương, chất lượng.
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
        <div class="inline-block shadow-img">
            <img src="~/Assest/Client/img/Latte.png" alt="Image" class="img-circle img-thumbnail">
        </div>
    </div>
</section>